<center> <img src="<%=data.img%>" alt="" style="width:150px; height: 150px; ; border-radius: 50%; margin-top: 20px; margin-bottom: 20px;"> </center>
<center><h4>Author: <%=data.author.userName%></h4></center>
<center><h1><%=data.title%></h1></center>
<center> <textarea style="height: 500px; width: 1200px;" class="mceNonEditable" id="tiny">
    <%=data.text%>
</textarea></center>
<input type="text" value="<%=data._id%>" style="display: none;" id="articleId">
<center><textarea name="" id="text" cols="80" rows="4" ></textarea></center>
 <center><button class="btn btn-success edit" onclick="send()">Add a comment</button></center>
 <div style="margin-left: 30%;">
    <% for(let i = 0; i < comments.length; i++){ %>
        <%- include('../partials/commentsAd',{comment: comments[i]}) %>
      <%}%>
</div>