<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')-%>
    <link rel="stylesheet" href="tooltip.css">
</head>
<body>
    <%if(locals.user){%>
        <%if(user.role == "admin"){%>
            <%-include('../partials/navbarAd', {user: user})-%>
        <%}else{%>
            <%-include('../partials/navbarLogin', {user:user})-%>
        <%}%>
    <%}else{%>
        <%-include('../partials/navbar')-%>
    <%}%>
    <%-include('../partials/allArticlesBody', {data:data})-%>
    <script src="jquery-3.4.1.js"></script>
    <script src="allArticles.js"></script>
</body>
</html>