<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')-%>
    <script src="https://cdn.tiny.cloud/1/awopkoewb89ja1twu70wegw2ccumetgac893y5l4k3rlnpjt/tinymce/5/tinymce.min.js"
referrerpolicy="origin"></script>
</head>
<body>
    <%if(locals.user){%>
        <%if(user.role == "admin"){%>
            <%-include('../partials/navbarAd', {user: user})-%>
        <%}else{%>
            <%-include('../partials/navbarLogin', {user:user})-%>
        <%}%>
    <%}else{%>
        <%-include('../partials/navbar')-%>
    <%}%>
    <%if(locals.user){%>
        <%if(locals.user.role == "admin"){%>
            <%-include('../partials/articleReadOnlyBodyAd', {data:data ,comments: comments})-%>
        <%}%>
        <%if(locals.user.role != "admin"){%>
            <%-include('../partials/articleReadOnlybodyUs', {data:data, comments: comments})-%>
        <%}%>
        <%}else{%>
            <%-include('../partials/articleReadOnlyBody', {data:data})-%>
        <%}%>
    
    <script src="jquery-3.4.1.js"></script>
    <script src="articleReadOnly.js"></script>
</body>
</html>